<%- include("./includes/head.ejs"); %>

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/home.css">

<body>
	<header>
		<%- include("./includes/navbar.ejs"); %>
	</header>

	<div class="loading-spinner" id="loadingSpinner">
	    <div class="spinner"></div>
	</div>

	<section>
		<div class="container-fluid homeDiv1 border-0">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-12 text-center">
					<h3>HOME</h3>
				</div>

				<div class="col-12 col-sm-12 div2">
					<div class="row row-cols-1 row-cols-md-3 g-4">
						<% data.forEach(i => { %>
						    <div class="col">
						        <div class="card h-100">
						            <div class="skeleton1"></div>
						            <img data-src="<%= i.videoImage %>" class="card-img-top" alt="image">
						            <div class="card-body">
						                <h5 class="card-title"><%= i.videoTitle %></h5>
						                <p class="card-text"><%= i.videoDescription %></p>
						                <div class="d-flex justify-content-between align-items-center">
						                    <li class="nav-item dropdown" style="list-style: none;">
						                        <% if(i.count >= 1) { %>
						                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Seasons</a>
						                            <ul class="dropdown-menu">
						                                <% for (let index = 0; index < i.sno.length; index++) { %>
						                                    <li><a class="dropdown-item" href="/v1/sedit/<%= i.sno[index] %>?vid=<%= i.videoId %>">Season <%= i.sno[index] %></a></li>
						                                <% } %>
						                            </ul>
						                        <% } else { %>
						                            Seasons
						                        <% } %>
						                    </li>
						                    <a href="/v1/add2/?id=<%= i.videoId %>" class="card-link">Add Seasons</a>
						                </div>
						            </div>
						            <div class="card-footer d-flex align-items-center justify-content-around">
						                <small class="text-body-secondary">
						                    <a href="/v1/edit/<%= i.videoId %>">
						                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: green;"></i>
						                    </a>
						                </small>
						                <small class="text-body-secondary">
						                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal_<%= i.videoId %>">
						                        <i class="fa-solid fa-trash fa-lg" style="color: red;"></i>
						                    </button>

						                    <!-- Modal -->
						                    <div class="modal fade" id="exampleModal_<%= i.videoId %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						                        <div class="modal-dialog">
						                            <div class="modal-content">
						                                <div class="modal-header">
						                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete?</h1>
						                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						                                </div>
						                                <div class="modal-footer">
						                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						                                    <form action="/v1/delete" method="POST">
						                                    	<input type="hidden" name="id" value="<%= i.videoId %>" />
						                                    	<button type="submit" class="btn btn-primary">Continue</button>
						                                    </form>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                </small>
						            </div>
						        </div>
						    </div>
						<% }) %>
					</div>
				</div>

				<div class="col-12 col-sm-12" style="margin-top: 70px;">
				    <nav aria-label="Page navigation example">
				        <ul class="pagination justify-content-center">
				            <li class="page-item">
				                <a class="page-link" href="/v1/home/?pgno=<%= currentPage - 1 %>" aria-label="Previous" <%= currentPage === 1 ? 'disabled' : '' %>>
				                    <span aria-hidden="true">&laquo;</span>
				                </a>
				            </li>
				            <% 
	                            const totalPages = 3; // Set this to the maximum number of pages you want to display
	                            const startPage = Math.max(1, currentPage);
	                            const endPage = Math.max(startPage + totalPages - 1, totalPages);

	                            for (let i = startPage; i <= endPage; i++) { 
	                        %>
	                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
	                                <a class="page-link" href="/v1/home/?pgno=<%= i %>"><%= i %></a>
	                            </li>
	                        <% } %>
				            <li class="page-item">
				                <a class="page-link" href="/v1/home/?pgno=<%= currentPage + 1 %>" aria-label="Next">
				                    <span aria-hidden="true">&raquo;</span>
				                </a>
				            </li>
				        </ul>
				    </nav>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container" style="height: 100px;"></div>
	</section>

	<script>
		// window.addEventListener('load', function () {
			setTimeout(function() {
		    	const loadingSpinner = document.getElementById('loadingSpinner');
		    	loadingSpinner.style.display = 'none';
			}, 2000);
	    // });

		const baseUrl = "https://glowbal.co.uk/api/uploads/";

		const images2 = document.querySelectorAll('.card img');

			images2.forEach(img => {
                img.onload = () => {
                    img.previousElementSibling.style.display = 'none'; // Hide skeleton
                    img.style.display = 'block'; // Show image
                };

        		img.onerror = () => {
			        // Hide the image
			        img.style.display = 'none';
			        
			        // Show the skeleton loader
			        const skeleton = img.previousElementSibling;
			        if (skeleton) {
			            skeleton.style.display = 'block';
			        }
			    };

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                img.setAttribute('src', baseUrl + imgElement); // Set src to trigger loading
        	});
	</script>
</body>

<%- include("./includes/end.ejs"); %>